/*
  Styles for base resets
*/

/* override nested padding-horizontal and container classes */
.lgd-container .padding-horizontal .padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}
/* override nested lgd-container classes */
.lgd-container .lgd-container {
  margin-top: 0;
}