/* 
  Styles for the design system secondary menu placed in the Sidebar First region 
 */ 

/* Wrapper for design system secondary menu in first sidebar (New class added in menu settings) */ 
/* Hidden on mobile */ 
.ds-menu__secondary {
    display: none;
}

/* Wrapper for automatic contents menu (appears inside secondary menu) */ 
#ds-anchor-menu {
    padding-left: 0.75rem;
    margin-bottom: 0.625rem;
    border-left: 3px solid var(--color-blue);
    padding-left: 0.75rem;
}

/* Wrapper for 'In page' contents menu - mobile only */ 
#ds-contents {
    display: flex;
    flex-direction: column;
    background: var(--color-grey-lighter);
    padding: var(--spacing-large);
    margin-bottom: var(--spacing-large);
}

#ds-contents ul {
    padding: 0;
    margin: 0;
}

/* Auto contents menu list items */ 
#ds-contents li {
    display: flex;
}

@media screen and (min-width: 48rem) {
    /* Show the secondary menu in the left sidebar on desktop */ 
    .ds-menu__secondary {
        display: flex;
    }

    /* Hide the automatic contents menu in page on desktop */ 
    #ds-contents {
        display: none;
    }
}

/* Design system sidebar menu ul */ 
.ds-menu__secondary ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

/* Design system sidebar menu links */ 
.ds-menu__secondary ul li a {
    display: flex;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

/* Design system sidebar menu link hover */ 
.ds-menu__secondary ul li a:hover {
    text-decoration: underline;
    color: var(--color-black);
}

/* Design system sidebar menu link focus */ 
.ds-menu__secondary ul li a:focus {
    text-decoration: none;
}

/* Design system sidebar menu active link (Existing class) */ 
/* is-active existed as a class but had no styling, and isn't applied to active child level pages in menus */ 
.ds-menu__secondary .nav-link.is-active {
    font-weight: 700;
    border-left: 3px solid var(--color-blue);
    padding-left: 0.75rem;
}
